.dark-color {
    
    background: url("../../assets/hero-overlay.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #F8F5EE;
}

.hero-section{
    height: 75vh;
    padding: 70px 0px 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    
}

.left-container {
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    gap: 20px;
    

}

.right-container {
    padding: 0px;
    width: 40%;
    position: relative;
}

.hero-video-img{
    width: 100%;
    border-radius: 24px;
    box-shadow: 0 0 22.7px 0 rgba(0, 0, 0, 0.226);

}

.play-icon {
    width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.left-container .consultation-btn {
    font-family: "Lora", Sans-serif;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 18px;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: #91854C;
    border-style: none;
    border-radius: 26px 26px 26px 26px;
    padding: 13px 25px;
    cursor: pointer;
    width: fit-content; 
    max-width: 100%;
  }

  .left-container .parent-btn {
    width: fit-content;  
    max-width: 100%;
    font-family: 'SFPro', sans-serif;
    font-weight: 300;
    font-size: 16px;
    font-style: italic;
    color: #08313A;
    background: linear-gradient(to right, #998E561A 10%, #aa9f6a1a 90%);
    border-radius: 17px 17px 17px 17px;
    border: none;
    padding: 8px 35px;
  }



  .hero-heading {
    font-family: 'SFPro', sans-serif;
    font-size: 48px;
    line-height: 58px;
    font-weight: 500;
    color: #08313A;
    letter-spacing: -1px;

  }


  .hero-gradient-h1 {
    font-family: "Lora", Sans-serif;
    font-size: 48px;
    line-height: 58px;
    font-weight: 400;
    font-style: italic;
    background: linear-gradient(to right, #ABA06B 0%, #7E7136 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 1.3px;
    word-spacing: 10px;
    line-height: 1px;
}

.review-logo {
    width: 40%;
}