.experts-section {
    margin-top: 70px;
    background-color: #F9F5ED;
    padding: 100px 0px;

}

.experts-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.experts-heading-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.experts-heading-container .subtitle {
    font-family: 'SFPro', sans-serif;
    font-weight: 200;
    font-size: 15px;
    line-height: 16px;
    font-style: italic;
    color: #08313A;
}

.experts-heading-container h2 {
    color: #08313A;
    font-family: 'SFPro', sans-serif;
    font-weight: 300;
    font-size: 45px;
    line-height: 52.2px;
    text-align: center;

}

.experts-heading-container h2 .facts {
    background: linear-gradient(to right, #91854C 0%, #DBCD89 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Lora", Sans-serif;
    font-weight: 400;
    font-size: 45px;
    line-height: 52.2px;
    font-style: italic;

}

.experts-heading-container h2 .experts {
    color: #08313A;
    font-family: "Lora", Sans-serif;
    font-weight: 500;
    font-size: 45px;
    line-height: 52.2px;
    font-style: italic;

}
  