.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(248, 245, 238, 0.9215686274509803);
    padding: 0 10%;


}

.navbar img {
    width: 11%;
    margin: 20px 0;
}

.dark-btn {
    font-family: "Lora", Sans-serif;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.4px;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: #91854C;
    border-style: none;
    border-radius: 26px 26px 26px 26px;
    padding: 13px 25px;
    cursor: pointer;
    
}