
.testimonials-secttion {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.testimonials-secttion .top-container p{
    font-family: 'SFPro', sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    line-height: 15.51px;
}

.testimonials-secttion .top-container h1{
    font-family: 'SFPro', sans-serif;
    font-size: 45px;
    font-weight: 300;
    line-height: 58px;
    color: #08313A;
}

.top-container h1 span{
    font-family: "Lora", Sans-serif;
    font-size: 45px;
    font-weight: 400;
    font-style: italic;
    line-height: 58px;
}

.testimonials-secttion .bottom-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.consultation-btn {
    background-color: #08313A;
    width: 359px;
    height: 41px;
    border-radius: 26px;
    color: #EADEA7;
    border: none;
    font-family: "Lora", Sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;

}

.testimonial-slider-container .slick-arrow.slick-prev {
    position: absolute;
    background: url("../../assets/prev-icon.png") no-repeat center center; /* Add your icon URL here */
    background-size: contain; /* Ensure the image fits */
    color: transparent; /* Hide the text */
    border: none; /* Remove default button border */
    width: 30px; /* Adjust width to fit your icon */
    height: 30px; /* Adjust height to fit your icon */
    text-indent: -9999px; /* Completely hide the text */
    cursor: pointer; /* Add a pointer for better UX */
    top: 115%;
    left: 2%;
  }

.testimonial-slider-container .slick-arrow.slick-next {
    position: absolute;
    background: url("../../assets/next-icon.png") no-repeat center center; /* Add your icon URL here */
    background-size: contain; /* Ensure the image fits */
    color: transparent; /* Hide the text */
    border: none; /* Remove default button border */
    width: 30px; /* Adjust width to fit your icon */
    height: 30px; /* Adjust height to fit your icon */
    text-indent: -9999px; /* Completely hide the text */
    cursor: pointer; /* Add a pointer for better UX */
    top: 115%;
    right: 2%;
  }