/* General styles */
.logo-carousel-image img {
    width: 100%;  
    max-width: 100%;
    padding: 20px 60px; 
    height: auto; 
    transition: all 0.3s ease-in-out;
}

.slider-container {
    padding: 0 2%;
    padding-top: 40px; 
}

/* Large tablets & desktops */
@media (max-width: 1440px) {
    .logo-carousel-image img {
        width: 60%; 
    }
}

/* Small laptops */
@media (max-width: 1280px) {
    .slider-container {
       padding-top: 3%; 
    }

    .logo-carousel-image img {
        width: 80%; 
    }
}

/* Medium screens like tablets */
@media (max-width: 998px) {
    .slider-container {
        padding-top: 30px; 
    }

    .logo-carousel-image img {
        width: 100%; 
        padding: 10px; 
    }
}

/* Small screens (mobile devices) */
@media (max-width: 600px) {
    .logo-carousel-image img {
        width: 100%; 
    }
}
